body {
  padding-bottom: 70px;
  background-color: black;
}
/* Contact Me */
.col-lg-4 {
background-color: lightgrey;
  text-align: center;
}
.img-rounded {
 padding-bottom:20px;
}
/* Footer */
.navbar-fixed-bottom {
  background-color: lightgrey;
  text-align: center
}
h4 {
	text-align: center;
}